@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  @apply bg-white text-black dark:text-white dark:bg-[#0a1e40] transition-colors duration-300;
  @apply transition-colors duration-300;
}

.bg-weave {
  @apply transition-colors duration-300;

  background-size: 10px 10px;
  background-repeat: repeat;
  position: relative;
}

/* light mode */
html:not(.dark) .bg-weave {
  background-color: #f4f6f8;
  background-image:
    radial-gradient(circle at 25% 25%, #cbd5e1 15%, transparent 16%),
    radial-gradient(circle at 75% 75%, #cdd5e1 15%, transparent 16%);
}

/* dark mode */
html.dark .bg-weave {
  background-color: #050a23;
  background-image:
    radial-gradient(circle at 25% 25%, #0f2152 15%, transparent 16%),
    radial-gradient(circle at 75% 75%, #1e3a8a 15%, transparent 16%);
}

@keyframes fade-in {
  from {
    opacity: 0;
    filter: blur(4px);
    background-color: transparent;
  }
  to {
    opacity: 1;
    filter: blur(0);
  }
}

.fade-in {
  animation: fade-in 1s ease-in-out forwards;
}

.animate-fade-in {
  animation: fade-in 0s ease-in-out forwards;
}

.navbar-text-element {
  font-size: 16px;
  transition: transform 0.2s ease;
  display: inline-block;
  /* transition: font-size 0.2s ease; */
}

.navbar-text-element:hover {
  transform: scale(1.25);
  /* font-size: 20px; */
}